@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		@apply font-primary text-base font-normal mx-auto bg-lite;
		max-width: 1440px;
		text-rendering: optimizeLegibility;
		-webkit-font-soothing: antialiased;
	}
	input {
		@apply outline-none;
	}
}
input:focus + .error-input {
	display: none;
}
.quill {
	border: 1px solid #f1f1f3;
	border-radius: 10px;
	padding: 15px 25px;
	text-align: center;
	.ql-toolbar.ql-snow {
		border: none;
		@apply border-none bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block;
	}
	.ql-container.ql-snow,
	.ql-editor {
		@apply border-none font-primary text-sm;
	}
	.ql-editor.ql-blank::before {
		@apply text-sm not-italic text-text4;
	}
}
