@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto bg-lite;
    max-width: 1440px;
    text-rendering: optimizeLegibility;
    -webkit-font-soothing: antialiased;
  }
  input {
    @apply outline-none;
  }
  input:focus + .error-input {
    display: none;
  }
}
